<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ asset('build/app.css') }}">
<div class="container-fluid">
    <body>
    	<div class="header">
    		<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link" href="/">Homes <span class="badge" id="index"><span class="glyphicon glyphicon-new-window"></span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/form">Form <span class="badge" id="form"><span class="glyphicon glyphicon-new-window"></a>
			  </li>
			  <li class="nav-item active">
			    <a class="nav-link" href="/users/list">List</a>
			  </li>
			</ul>
	    </div>
	    <div class="mycontent">
    	<table id="myTable" class="table">
    		<thead>
    			<tr>
    			<th></th>	
	    		<th>Name</th>
	    		<th>Email</th>
	    		<th>Gender</th>
	    		<th>Description</th>
	    		<th></th>
	    	</tr>
    		</thead>
    		<tbody>  
    				{% for user in users %}
    					<tr>
    					<td>{{ user.id }}</td>
	        			<td>{{ user.name }}</td>
	        			<td>{{ user.email }}</td>
	        			<td>{{ user.gender }}</td>
	        			<td>{{ user.description }}</td>
	        			<td><a href='/users/delete/{{ user.id }}'>Delete</a></td>
	        			</tr> 
	    			{% endfor %}	
    					
    		</tbody>
    	</table>
    	<script src="{{ asset('build/app.js') }}"></script>
    	</div>
    </body>
    <footer>
	
    </footer>
 </div>
 {% include "nav.html.twig"%}
</html>