<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ asset('build/app.css') }}">
 
<div class="container">
    <body>
    	<div class="header">
    		
    	</div>
    	<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" href="#">Active</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Link</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Link</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link disabled" href="#">Disabled</a>
		  </li>
		</ul>
    	<table id="myTable" class="table">
    		<thead>
    			<tr>
    			<th></th>	
	    		<th>Name</th>
	    		<th>Email</th>
	    		<th>Gender</th>
	    		<th>Description</th>
	    		<th></th>
	    	</tr>
    		</thead>
    		<tbody>  
    				{% for user in users %}
    					<tr>
    					<td>{{ user.id }}</td>
	        			<td>{{ user.name }}</td>
	        			<td>{{ user.email }}</td>
	        			<td>{{ user.gender }}</td>
	        			<td>{{ user.description }}</td>
	        			<td><a href='/users/delete/{{ user.id }}'>Delete</a></td>
	        			</tr> 
	    			{% endfor %}	
    					
    		</tbody>
    	</table>
    </body>
    <footer>
	<script src="{{ asset('build/app.js') }}"></script>
    </footer>
 </div>
</html>