<!DOCTYPE html>
<html>
<div class="container-fluid">
    <body>
    	<div class="mycontent">
	    {{ form_start(form, {attr: {class: 'form'} }) }}
	    <div class="form-group">
	    {{ form_row(form.name,{attr: {class: 'form-control'} }) }}
		</div>
	    {{ form_row(form.email,{attr: {class: 'form-control'} }) }}
	    {{ form_row(form.plainPassword.first,{attr: {class: 'form-control'} }) }}
	    {{ form_row(form.plainPassword.second,{attr: {class: 'form-control'} }) }}
	    {{ form_row(form.gender,{attr: {class: 'form-control'} }) }}
	  	{{ form_row(form.description,{attr: {class: 'form-control'} }) }}

	  	<div class="form-group">
	  			<!-- <input type="submit" name="submit" id="form_submit" style class="btn btn-primary form_submit"/> -->
	  	</div>
		{{ form_end(form) }}
		</div>
    </body>
</div>
</html>